.product-item {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.product-item img {
  width: 17.875rem;
  height: 17.875rem;
  object-fit: cover;
  cursor: pointer;

}

.product-item p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

.product-favorite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.product-text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.product-price {
  color: #626262;
}