.header-container {
  width: 100%;

  background-color: var(--black-500);
  color: var(--white);

  padding: 10px;

}

.header-items-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-weight: bold;
  font-size: 1.5rem;
}


.header-item {
  font-weight: 500;
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 2.5rem;

  cursor: pointer;
}

.items-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  display: flex;
  gap: 3px;
}