:root {
  --white: #ffffff;
  --black: #000000;
  --black-300: #171520;
  --black-500: #222121;
  --black-100: #363434;

  --transparent: rgba(222, 222, 222, 0.7);
  --blue-900: #1B4B66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
}

/* body {
  color: var(--black-300);
} */

body::-webkit-scrollbar {
  width: 1rem;
}


body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.5rem;
  border: 0.25rem solid var(--white);
  color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
select {
  border: 0;
}

button,
select {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

button {

  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}